body{
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-box {
  width: 300px;
  height: 32px;
  background: url("https://cdn-icons-png.flaticon.com/512/2899/2899266.png")
    no-repeat 6px 7px;
  background-size: 16px 16px;
  background-position: 5px right 2px left;
  padding-left: 33px;
  border-style: hidden;
  border-radius: 5px;
  border-color: #676666;
  border-width: 3px;
  background-color: #ffffff;
  color: #2c3e50;
  font-weight: lighter;
}
.container {
  max-width: 800px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
ul {
  list-style: none;
  color: #ffffff;
  font-weight: lighter;
  padding: 0;
}
li, .non {
  text-align: center;
  background-color: #623efc;
  width: 300px;
  height: 32px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  font-size: small;
  font-weight: lighter;
}

body {
  background-color: #ebf2ff;
}

.non {
  background-color: #ff6247;
  font-size: medium;
  font-weight: bold;
}
